
        h1,div{
            color: yellowgreen;
            background-color: maroon;
        }
        p{
            color: rebeccapurple;
            background-color: goldenrod;
        
        }
   